.Suitcase {
    position: fixed;
    height: 20vmin;
    width: 20vmin;
    top: 50%;
    left: 50%;
    perspective: 1000px;
    perspective-origin: 400% -300%;
    font-size: 2vmin;
    transform-style: preserve-3d;
}

.Suitcase .face {
    display: block;
    background-color: #b9a358;
    position: absolute;
    border: 1px solid antiquewhite;
    border-radius: 10px;
}

.Suitcase .front {
    height: 3em;
    width: 10em;
    bottom: 0;
}

.Suitcase .right {
    height: 3em;
    width: 6em;
    bottom: 0;
    left: 10em;
    transform: rotateY(90deg);
    transform-origin: left;
}

.Suitcase .left {
    height: 3em;
    width: 6em;
    bottom: 0;
    right: 10em;
    transform: rotateY(-90deg);
    transform-origin: right;
}

.Suitcase .bottom {
    height: 6em;
    width: 10em;
    bottom: 0;
    left: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.Suitcase .back {
    height: 3em;
    width: 10em;
    bottom: 0;
    left: 0;
    transform: translateZ(-6em);
}

.Suitcase .fulllid {
    bottom: 3em;
    width: 10em;
    height: 6em;
    transform-origin: bottom;
    /* display: block; */
    position: absolute; 
    transform-style: preserve-3d;
}

.Suitcase .lid {
    height: 6em;
    width: 10em;
    bottom: 1em;
    left: 0;
    transform: translateZ(-6em) rotateX(-90deg) ;
    transform-origin: bottom;
}

.Suitcase .lidfront {
    height: 1em;
    width: 10em;
    bottom: 0em;
}

.Suitcase .lidright {
    height: 1em;
    width: 6em;
    bottom: 0em;
    left: 10em;
    transform: rotateY(90deg);
    transform-origin: left;
}

.Suitcase .lidleft {
    height: 1em;
    width: 6em;
    bottom: 0em;
    right: 10em;
    transform: rotateY(-90deg);
    transform-origin: right;
}

.Suitcase .lidback {
    height: 1em;
    width: 10em;
    bottom: 0em;
    left: 0;
    transform: translateZ(-6em);
}
