.Day {
    text-align: center;
    background-color: #ba170b;
    border: 2px solid antiquewhite;
    height: 10vh;
    width: 8vw;  
    position: fixed;
    align-items: center;
    justify-content: center;
    font-size: calc(4px + 1vmin);
    color: white;
    z-index:0;
    display: flex;
    transition: all 1s;
    perspective: 500px;
}

.Day.expanded {
    height: 80vh;
    width: 80vw; 
    z-index: 100;
    background-color: #2e110a;
    font-size: calc(4px + 3vmin);
}

.Day.expanded button {
    position: absolute;
    top: 1px;
    left: 1px;
    background-color: #411d14;
    color: antiquewhite;
    border: rgb(163, 142, 123);
    border-radius: 8px;
}

.door {
    height: 100%;
    width: 100%; 
    position: absolute;
    top: 0;
    left: 0;
    background-color:  #ba170b;
    z-index:-1;
    border: 1px solid antiquewhite;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    font-weight: bold;
    color: white;
    z-index:0;
    display: flex;
    transition: all 2s;
    backface-visibility: hidden;
}

.door.left {
    width: 50%;
    left: 0;
    z-index: 1;
    transform-origin: left;
}

.door.right {
    width: 50%;
    left: 50%;
    z-index: 0;
    transform-origin: right;
}

.door.open {
    border: none;
}

.door.open.left {
    transform:  rotateY(-105deg);
}

.door.open.right {
    transform:  rotateY(105deg);
}

.door.back {
    background-color: #2e110a;
    transform-origin: center;
    transform: rotateY(-180deg);
}

.door.left.back {
}
.door.right.back {
}

.door.open.left.back {
    transform-origin: left;
    transform: rotateY(-285deg);
}
.door.open.right.back {
    transform-origin: right;
    transform: rotateY(-75deg);
}


.sidepanel {
  width: 65%;
  height: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 1vh;
  resize: none;
  overflow-x: auto;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #2e110a;
  color: antiquewhite;
}

.solution {
    height: 100%;
    width: 100%; 
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.Day.expanded .solution {
    width: 35%; 
}
