.Day {
    text-align: center;
    background-color: #ba170b;
    border: 2px;
    height: 10vh;
    width: 10vw;  
    position: fixed;
    align-items: center;
    justify-content: center;
    font-size: calc(4px + 1vmin);
    color: white;
    z-index:0;
    display: flex
}

.Day.expanded {
    height: 80vh;
    width: 80vw; 
    z-index: 100;
    background-color: #2e110a;
    font-size: calc(4px + 3vmin);
}

.Day.expanded button {
    position: absolute;
    top: 1px;
    left: 1px;
    background-color: #411d14;
    color: antiquewhite;
    border: rgb(163, 142, 123);
    border-radius: 8px;
}

.sidepanel {
  width: 70%;
  height: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 1vh;
  resize: none;
  overflow-x: auto;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #2e110a;
  color: antiquewhite;
}

.solution {
    height: 100%;
    width: 100%; 
    position: absolute;
    top: 0;
    left: 0;
    display: flexbox;
}

.Day.expanded .solution {
    width: 40%; 
}
